<footer class="footer">
  <div class="content has-text-centered">
    <p class="pr-5">
      <strong>Barvinok Web</strong> by
      <a href="https://github.com/sandric">Kyrychenko Anton</a>
      . The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>

    <div class="control is-inline-block">
      <div class="tags has-addons">
        <span class="tag is-dark">version</span>
        <span class="tag is-info">0.0.1</span>
      </div>
    </div>
  </div>
</footer>
