#toggle-editors {
  width: 35px;
  height: 35px;
  margin-left: 10px;

  #toggle-layout-editor,
  #toggle-code-editor {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:hover {
      border: 1px solid #dbdbdb;
    }
  }

  #toggle-layout-editor {
    margin-bottom: 13px;
  }
}

#git {
  width: 100%;
  margin-bottom: 0;
}

#legends-controller #layout-editor-wrapper {
  margin: 0;
}

#layout-editor-wrapper {
  margin: -10px;
  margin-top: -50px;

  .layout-editor-actions {
    margin-bottom: 0;
  }

  #layout-editor {
    width: 100%;
    height: 355px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;

    .layout-button {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 4px;
    pointer-events: none;
  }
}

#commit-preview-wrapper {
  padding: 0;
  position: relative;
  z-index: 10;

  #commit-preview {
    position: absolute;
    width: calc(100% - 20px) !important;
    background-color: white;
    top: -5px;
    padding: 10px;
    border-radius: 5px;
  }
}

.button-editor-form {
  .icon.is-small.is-left {
    z-index: 0 !important;
  }
}

.select-delete-button {
  background-color: pink;

  &:hover {
    background-color: red;
  }
}
